.header {
    padding: var(--gap-xxxl);
    font-size: 1rem;
    padding-inline: 10vw;
}

.header--inner {
    gap: var(--gap-xxxl);
}

.header--inner_brand {
    font-size: 1.5rem;
}

.header--inner_links {
    a {
        text-decoration: none;
        color: var(--text-color);
    }
}
